body {
}

hr{
    border: none;
    height: 1px;
    collapse: #333;
    background-color: #333;
}

.container{
    width: 90%;
}

.navbar {
    margin-bottom: 20px;
}

.box{
    border: 1px solid red;
}

.container box{
    width: 70%;
}

.home-headline{
    font-family: 'Times New Roman', Times, Serif;
    font-size: 24px;
    color: #fff;
    margin: auto;
    text-align: center;
    margin-top: -13px;
}

.home-headline span{
    background-color: #231F20;
    padding: 5px 22px;
}

